/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  margin: auto;
  text-align: center;
  background: #ef5350;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 5%;
  padding: 2%;
  background: #ffcb05;
  border: 25px solid #2c74ba;
}

.pokeLogo {
  width: auto;
  height: 250px;
  margin: auto;
  margin-top: 5%;
}

input {
  background: #ffcb05;
  border: 3px solid #ef5350;
  width: 525px;
  font-family: "Roboto", sans-serif;
  margin: 2% 0 2% 0;
}

button {
  background: #2c74ba;
  font-family: "Roboto", sans-serif;
  border: none;
  height: 28px;
  font-weight: 900;
}

.hidden {
  /* display: none; */
}

label {
  padding: 2%;
  font-size: 1.5rem;
  text-decoration: underline;
}

footer {
  margin: 5% 0 1% 0;
}
